
# Warning: If your Apache server doesn't support php.ini directives, then it might cause 500 Internal Server Error

# Better performance
php_value realpath_cache_size 2M

# Configuration for file uploading

# memory_limit should be larger than post_max_size
php_value memory_limit 512M

# php.ini configuration for better file uploading
php_value max_input_time 90000000000
php_value max_execution_time 90000000000

# To upload large files, post_max_size value must be larger than upload_max_filesize
php_value post_max_size 100M
php_value upload_max_filesize 50M
php_value max_file_uploads 10

# We don't want this var to be readable
ServerSignature Off

# Force Apache to use UTF-8 by default
AddDefaultCharset UTF-8

# Prevent direct directory listing
Options -Indexes
IndexIgnore *.*

# Make sure index is set as a front handler
<IfModule dir_module>
 DirectoryIndex index.php
</IfModule>

<IfModule mod_rewrite.c>
 
 RewriteEngine On
 
 # Send all www-prefixed requests to non-www
 RewriteCond %{HTTPS} off
 RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
 RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
 
 # Case when requesting via HTTPS
 RewriteCond %{HTTPS} on
 RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
 RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
 
 # Done there, now finally send everything to a front controller, except real files and directories
 RewriteBase /
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule . index.php
 
</IfModule>

# And if we don't have mod_rewrite installed, we can still emulate its functionality by sending back to Front Controller
<IfModule !mod_rewrite.c>
 ErrorDocument 404 /index.php
</IfModule>
